In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import sklearn
import csv

import warnings
warnings.filterwarnings('ignore')

import sys
print(sys.version) # version of Python
print(sklearn.__version__) # version of sklearn module

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
1.1.2

### Data exploration

In [2]:
path = 'gamenew.csv'
data = pd.read_csv(path, delimiter=',', encoding='utf-8')
data.head()

,Unnamed: 0,gender,age,marrige,education,yearofexp,position,gameyear,frequency,gametime,...,Q56,Q57,Q58,Q59,Q60,Neuroticism,Extraversion,Openness,Agreeableness,Conscientiousness
0,1,2,20,1.0,3,5,2.0,2.0,4.0,1.0,...,4,4,5,4,4,51,51,49,47,50
1,2,2,24,1.0,2,2,1.0,2.0,4.0,1.0,...,5,4,4,1,5,37,49,45,39,49
2,3,2,21,2.0,3,4,2.0,1.0,4.0,3.0,...,5,4,3,4,4,46,44,48,47,47
3,4,1,28,2.0,3,4,1.0,4.0,2.0,3.0,...,4,4,3,4,3,44,44,40,45,40
4,5,1,23,1.0,2,5,1.0,1.0,2.0,3.0,...,3,2,2,3,2,36,34,39,35,36

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 99 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1058 non-null   int64
 1   gender                 1058 non-null   int64
 2   age                    1058 non-null   int64
 3   marrige                964 non-null    float64
 4   education              1058 non-null   int64
 5   yearofexp              963 non-null    object
 6   position               964 non-null    float64
 7   gameyear               964 non-null    float64
 8   frequency              964 non-null    float64
 9   gametime               964 non-null    float64
 10  FavouriteRole          1058 non-null   int64
 11  LeastFavoriteRole      1058 non-null   int64
 12  RoleMostPlay           1058 non-null   int64
 13  RoleLeastPlay          1058 non-null   int64
 14  BestRole               1058 non-null   int64
 15  WorstRole              1058 non-null   int64
 16  FavoritePosition       1058 non-null   int64
 17  LeastFavoritePosition  1058 non-null   int64
 18  BestPosition           1058 non-null   int64
 19  WorstPosition          1058 non-null   int64
 20  PositionMostPlay       1058 non-null   int64
 21  PositionLeastPlay      1058 non-null   int64
 22  three                  1058 non-null   object
 23  chengjie               964 non-null    float64
 24  zhongjie               964 non-null    float64
 25  kuangbao               964 non-null    float64
 26  jipao                  964 non-null    float64
 27  zhiliao                964 non-null    float64
 28  ganrao                 964 non-null    float64
 29  yunxuan                964 non-null    float64
 30  jinghua                964 non-null    float64
 31  ruohua                 964 non-null    float64
 32  shanxian               964 non-null    float64
 33  record                 1058 non-null   int64
 34  Q1                     1058 non-null   int64
 35  Q2                     1058 non-null   int64
 36  Q3                     1058 non-null   int64
 37  Q4                     1058 non-null   int64
 38  Q5                     1058 non-null   int64
 39  Q6                     1058 non-null   int64
 40  Q7                     1058 non-null   int64
 41  Q8                     1058 non-null   int64
 42  Q9                     1058 non-null   int64
 43  Q10                    1058 non-null   int64
 44  Q11                    1058 non-null   int64
 45  Q12                    1058 non-null   int64
 46  Q13                    1058 non-null   int64
 47  Q14                    1058 non-null   int64
 48  Q15                    1058 non-null   int64
 49  Q16                    1058 non-null   int64
 50  Q17                    1058 non-null   int64
 51  Q18                    1058 non-null   int64
 52  Q19                    1058 non-null   int64
 53  Q20                    1058 non-null   int64
 54  Q21                    1058 non-null   int64
 55  Q22                    1058 non-null   int64
 56  Q23                    1058 non-null   int64
 57  Q24                    1058 non-null   int64
 58  Q25                    1058 non-null   int64
 59  Q26                    1058 non-null   int64
 60  Q27                    1058 non-null   int64
 61  Q28                    1058 non-null   int64
 62  Q29                    1058 non-null   int64
 63  Q30                    1058 non-null   int64
 64  Q31                    1058 non-null   int64
 65  Q32                    1058 non-null   int64
 66  Q33                    1058 non-null   int64
 67  Q34                    1058 non-null   int64
 68  Q35                    1058 non-null   int64
 69  Q36                    1058 non-null   int64
 70  Q37                    1058 non-null   int64
 71  Q38                    1058 non-null   int64
 72  Q39                    1058 non-null   int64
 73  Q40                    1058 non-null   int64
 74  Q41                    1058 non-null   int64
 75  Q42                    1058 non-null   int64
 76  Q43                    1058 non-null   int64
 77  Q44                    1058 non-null   int64
 78  Q45                    1058 non-null   int64
 79  Q46                    1058 non-null   int64
 80  Q47                    1058 non-null   int64
 81  Q48                    1058 non-null   int64
 82  Q49                    1058 non-null   int64
 83  Q50                    1058 non-null   int64
 84  Q51                    1058 non-null   int64
 85  Q52                    1058 non-null   int64
 86  Q53                    1058 non-null   int64
 87  Q54                    1058 non-null   int64
 88  Q55                    1058 non-null   int64
 89  Q56                    1058 non-null   int64
 90  Q57                    1058 non-null   int64
 91  Q58                    1058 non-null   int64
 92  Q59                    1058 non-null   int64
 93  Q60                    1058 non-null   int64
 94  Neuroticism            1058 non-null   int64
 95  Extraversion           1058 non-null   int64
 96  Openness               1058 non-null   int64
 97  Agreeableness          1058 non-null   int64
 98  Conscientiousness      1058 non-null   int64
dtypes: float64(15), int64(82), object(2)
memory usage: 818.4+ KB

In [4]:
df = data[['FavouriteRole', 'LeastFavoriteRole', 'RoleMostPlay', 'RoleLeastPlay', 'BestRole', 'WorstRole',
           'FavoritePosition', 'LeastFavoritePosition', 'BestPosition','WorstPosition','PositionMostPlay', 'PositionLeastPlay',
           'chengjie', 'zhongjie', 'kuangbao', 'jipao', 'zhiliao', 'ganrao', 'yunxuan', 'jinghua', 'ruohua', 'shanxian',
          'Neuroticism', 'Extraversion', 'Openness', 'Agreeableness', 'Conscientiousness']]

In [5]:
df.head()

,FavouriteRole,LeastFavoriteRole,RoleMostPlay,RoleLeastPlay,BestRole,WorstRole,FavoritePosition,LeastFavoritePosition,BestPosition,WorstPosition,...,ganrao,yunxuan,jinghua,ruohua,shanxian,Neuroticism,Extraversion,Openness,Agreeableness,Conscientiousness
0,2,3,2,1,2,4,5,1,5,1,...,0.0,0.0,0.0,0.0,1.0,51,51,49,47,50
1,1,5,1,5,1,5,1,4,1,4,...,0.0,0.0,0.0,0.0,1.0,37,49,45,39,49
2,5,2,5,2,5,2,4,3,4,3,...,0.0,0.0,0.0,0.0,1.0,46,44,48,47,47
3,6,2,6,1,6,1,5,2,5,1,...,0.0,0.0,0.0,0.0,0.0,44,44,40,45,40
4,1,5,1,6,1,5,5,1,4,1,...,0.0,0.0,0.0,0.0,1.0,36,34,39,35,36

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FavouriteRole          1058 non-null   int64
 1   LeastFavoriteRole      1058 non-null   int64
 2   RoleMostPlay           1058 non-null   int64
 3   RoleLeastPlay          1058 non-null   int64
 4   BestRole               1058 non-null   int64
 5   WorstRole              1058 non-null   int64
 6   FavoritePosition       1058 non-null   int64
 7   LeastFavoritePosition  1058 non-null   int64
 8   BestPosition           1058 non-null   int64
 9   WorstPosition          1058 non-null   int64
 10  PositionMostPlay       1058 non-null   int64
 11  PositionLeastPlay      1058 non-null   int64
 12  chengjie               964 non-null    float64
 13  zhongjie               964 non-null    float64
 14  kuangbao               964 non-null    float64
 15  jipao                  964 non-null    float64
 16  zhiliao                964 non-null    float64
 17  ganrao                 964 non-null    float64
 18  yunxuan                964 non-null    float64
 19  jinghua                964 non-null    float64
 20  ruohua                 964 non-null    float64
 21  shanxian               964 non-null    float64
 22  Neuroticism            1058 non-null   int64
 23  Extraversion           1058 non-null   int64
 24  Openness               1058 non-null   int64
 25  Agreeableness          1058 non-null   int64
 26  Conscientiousness      1058 non-null   int64
dtypes: float64(10), int64(17)
memory usage: 223.3 KB

In [7]:
df.isnull().sum()

FavouriteRole             0
LeastFavoriteRole         0
RoleMostPlay              0
RoleLeastPlay             0
BestRole                  0
WorstRole                 0
FavoritePosition          0
LeastFavoritePosition     0
BestPosition              0
WorstPosition             0
PositionMostPlay          0
PositionLeastPlay         0
chengjie                 94
zhongjie                 94
kuangbao                 94
jipao                    94
zhiliao                  94
ganrao                   94
yunxuan                  94
jinghua                  94
ruohua                   94
shanxian                 94
Neuroticism               0
Extraversion              0
Openness                  0
Agreeableness             0
Conscientiousness         0
dtype: int64

In [9]:
df = df.fillna(0)
df.isnull().sum()

FavouriteRole            0
LeastFavoriteRole        0
RoleMostPlay             0
RoleLeastPlay            0
BestRole                 0
WorstRole                0
FavoritePosition         0
LeastFavoritePosition    0
BestPosition             0
WorstPosition            0
PositionMostPlay         0
PositionLeastPlay        0
chengjie                 0
zhongjie                 0
kuangbao                 0
jipao                    0
zhiliao                  0
ganrao                   0
yunxuan                  0
jinghua                  0
ruohua                   0
shanxian                 0
Neuroticism              0
Extraversion             0
Openness                 0
Agreeableness            0
Conscientiousness        0
dtype: int64

In [10]:
df.FavouriteRole.value_counts()

1    298
6    251
2    159
4    155
5    137
3     58
Name: FavouriteRole, dtype: int64

In [11]:
df.FavoritePosition.value_counts()

2    321
1    216
3    202
4    188
5    131
Name: FavoritePosition, dtype: int64

In [12]:
# calculate the median of each dependent feature 
print(df.Neuroticism.median())
print(df.Extraversion.median())
print(df.Openness.median())
print(df.Agreeableness.median())
print(df.Conscientiousness.median())

28.0
47.0
46.0
43.0
50.0

In [13]:
df['Neuroticism'] = df['Neuroticism'].apply(lambda x: "low" if x < 28 else "high" )
df['Extraversion'] = df['Extraversion'].apply(lambda x: "low" if x < 47 else "high" )
df['Openness'] = df['Openness'].apply(lambda x: "low" if x < 46 else "high" )
df['Agreeableness'] = df['Agreeableness'].apply(lambda x: "low" if x < 43 else "high" )
df['Conscientiousness'] = df['Conscientiousness'].apply(lambda x: "low" if x < 50 else "high" )

In [14]:
df.Neuroticism.value_counts()

high    531
low     527
Name: Neuroticism, dtype: int64

In [15]:
df.Extraversion.value_counts()

high    530
low     528
Name: Extraversion, dtype: int64

In [16]:
df.Openness.value_counts()

high    577
low     481
Name: Openness, dtype: int64

In [17]:
df.Agreeableness.value_counts()

high    584
low     474
Name: Agreeableness, dtype: int64

In [18]:
df.Conscientiousness.value_counts()

high    534
low     524
Name: Conscientiousness, dtype: int64

In [19]:
df.to_csv('game_data.csv', index=False)

#### Open the new created data for examination

In [20]:
path = 'game_data.csv'
data = pd.read_csv(path, delimiter=',', encoding='utf-8')
data.head()

,FavouriteRole,LeastFavoriteRole,RoleMostPlay,RoleLeastPlay,BestRole,WorstRole,FavoritePosition,LeastFavoritePosition,BestPosition,WorstPosition,...,ganrao,yunxuan,jinghua,ruohua,shanxian,Neuroticism,Extraversion,Openness,Agreeableness,Conscientiousness
0,2,3,2,1,2,4,5,1,5,1,...,0.0,0.0,0.0,0.0,1.0,high,high,high,high,high
1,1,5,1,5,1,5,1,4,1,4,...,0.0,0.0,0.0,0.0,1.0,high,high,low,low,low
2,5,2,5,2,5,2,4,3,4,3,...,0.0,0.0,0.0,0.0,1.0,high,low,high,high,low
3,6,2,6,1,6,1,5,2,5,1,...,0.0,0.0,0.0,0.0,0.0,high,low,low,high,low
4,1,5,1,6,1,5,5,1,4,1,...,0.0,0.0,0.0,0.0,1.0,high,low,low,low,low

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FavouriteRole          1058 non-null   int64
 1   LeastFavoriteRole      1058 non-null   int64
 2   RoleMostPlay           1058 non-null   int64
 3   RoleLeastPlay          1058 non-null   int64
 4   BestRole               1058 non-null   int64
 5   WorstRole              1058 non-null   int64
 6   FavoritePosition       1058 non-null   int64
 7   LeastFavoritePosition  1058 non-null   int64
 8   BestPosition           1058 non-null   int64
 9   WorstPosition          1058 non-null   int64
 10  PositionMostPlay       1058 non-null   int64
 11  PositionLeastPlay      1058 non-null   int64
 12  chengjie               1058 non-null   float64
 13  zhongjie               1058 non-null   float64
 14  kuangbao               1058 non-null   float64
 15  jipao                  1058 non-null   float64
 16  zhiliao                1058 non-null   float64
 17  ganrao                 1058 non-null   float64
 18  yunxuan                1058 non-null   float64
 19  jinghua                1058 non-null   float64
 20  ruohua                 1058 non-null   float64
 21  shanxian               1058 non-null   float64
 22  Neuroticism            1058 non-null   object
 23  Extraversion           1058 non-null   object
 24  Openness               1058 non-null   object
 25  Agreeableness          1058 non-null   object
 26  Conscientiousness      1058 non-null   object
dtypes: float64(10), int64(12), object(5)
memory usage: 223.3+ KB

In [22]:
data.Openness.value_counts()

high    577
low     481
Name: Openness, dtype: int64